extends layout 

block main-content 
    div.hero
        div.hero-title
            h1.page-title inCase
            h2 Your best case scenario
            p Shop your dream case inCase.
            a(href="/shop")
                h4.label Shop Now
        //- div.hero-image
        //-     img(src="image/hero-image.jpeg", alt="Hero Image", class="hero-image")

block photos-content 
    div.container-case
    h3.label-case iPhone cases
        div.phone-container
            div.phonecase-1
                a(href="#")
                    img(src="image/case1.jpg", alt="Destination Phone Case", width="250")
                    p Destination Phone Case
                    h3 $92.00
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://www.casetify.com/en_CA/product/SqryY_casetify/iphone-14-pro/magsafe-compatible-ultra-impact-case?utm_source=google&utm_medium=cpc&utm_campaign=GoogleShopHandPickCollectionJul2018ProductsProductFeed&google_feed_country_code=ca&nbt=nb%3Aadwords%3Ax%3A17774165450%3A%3A&nb_adtype=pla&nb_kwd=&nb_ti=&nb_mi=104321252&nb_pc=online&nb_pi=CTF-11534483-16003261&nb_ppi=&nb_placement=&nb_si={sourceid}&nb_li_ms=&nb_lp_ms=&nb_fii=&nb_ap=&nb_mt=&gclid=Cj0KCQiA8aOeBhCWARIsANRFrQEaQX6t8U2o7gCpBIyclUdLCytYWPeVUZ-ut6ahh7QTYYXkW-YtVW0aAunEEALw_wcB#/16004749
            div.phonecase-2
                a(href="#")
                    img(src="image/case2.jpg", alt="Black Pink Phone Case", width="250")
                    p Black Pink Phone Case
                    h3 $80.00
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://www.casetify.com/product/blackpink-diary-stickers-case/iphone-14-pro/magsafe-compatible-impact-case?color=deep-purple#/16004733
            div.phonecase-3
                a(href="#")
                    img(src="image/case4.jpeg", alt="Black Marble Phone Case", width="250")
                    p Black Marble Phone Case
                    h3 $75.90
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://ca.burga.com/products/elegant-iphone-11-pro-case?variant=40781383467158
        a(href="/shop")
            h4.label-show SHOW MORE

    h3.label-case iPad cases    
        div.ipad-container
            div.ipadcase-1
                a(href="#")
                    img(src="image/ipadcase1.jpg", alt="Plain Black Case", width="250")
                    p Plain Black iPad Case
                    h3 $20.00
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QPV9Z7X/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
            div.ipadcase-2
                a(href="#")
                    img(src="image/ipadcase2.jpg", alt="Plain Pink Case", width="250")
                    p Plain Pink iPad Case
                    h3 $22.99
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QPV9H1J/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
            div.ipadcase-3
                a(href="#")
                    img(src="image/ipadcase3.jpg", alt="Blue Shockproof Case", width="250")
                    p Plain Blue Green iPad Case
                    h3 $21.99
                        .addCart
                            a(href="/cart")
                                h4.addCart Add To Cart
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QS4NWFG/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
        a(href="/shop")
            h4.label-show SHOW MORE


    #about
        .content-wrapper 
            h1.page-title About inCase
                p.about Our quality materials are made up of 100% recycled plastics found from the ocean. These materials that are considered garbage have become a great problem in our world today.
                p.about inCase has transformed these into durable and stylish cases. inCase guarantees protection for your screen to make sure your phone and tablets are 100% covered.
                p.about Lastly, we donate 10% of our sale to Ocean Cleanup and Preservation Initiative Partners.

                img.about(src="image/herophoto.jpeg", alt="Phone Cases", width="1150")