block variables 
doctype html
html
    head
        meta(charset="utf-8")
        title #{title} | inCase E-commerce
        block scripts 
            link(rel="stylesheet", href="/style.css")
    body 
        header#header.content-wrapper 
            h3.logo inCase
            nav#main-navigation 
                ul
                    each link in menu 
                        li 
                            a(href=link.path) #{link.name}

        main#main
                block main-content     
                block photos-content

        footer#footer
            #newsletter
            .content-wrapper 
                .newsletter 
                h4 Subscribe to our Newsletter
                input(type="text", name="Newsletter", placeholder="Enter your email")
                a.btn(href='#') Subscribe

            .content-wrapper
                p.copyright &copy; Copyright HTTP5211, 2023.