extends layout

block append scripts 
    script(src="/shop.js")

block main-content 
    div.hero
        div.hero-title
            h1.page-title inCase
            h2 Your best case scenario
            p Browse our products and purchase



block photos-content 
    div.container-case
    h3.label-case iPhone cases
        div.phone-container
            div.phonecase-1
                a(href="#")
                    img(src="image/case1.jpg", alt="Destination Phone Case", width="150")
                    p Destination Phone Case
                    h3 $92.00
                //- source: https://www.casetify.com/en_CA/product/SqryY_casetify/iphone-14-pro/magsafe-compatible-ultra-impact-case?utm_source=google&utm_medium=cpc&utm_campaign=GoogleShopHandPickCollectionJul2018ProductsProductFeed&google_feed_country_code=ca&nbt=nb%3Aadwords%3Ax%3A17774165450%3A%3A&nb_adtype=pla&nb_kwd=&nb_ti=&nb_mi=104321252&nb_pc=online&nb_pi=CTF-11534483-16003261&nb_ppi=&nb_placement=&nb_si={sourceid}&nb_li_ms=&nb_lp_ms=&nb_fii=&nb_ap=&nb_mt=&gclid=Cj0KCQiA8aOeBhCWARIsANRFrQEaQX6t8U2o7gCpBIyclUdLCytYWPeVUZ-ut6ahh7QTYYXkW-YtVW0aAunEEALw_wcB#/16004749
            div.phonecase-2
                a(href="#")
                    img(src="image/case2.jpg", alt="Black Pink Phone Case", width="150")
                    p Black Pink Phone Case
                    h3 $80.00
                //- source: https://www.casetify.com/product/blackpink-diary-stickers-case/iphone-14-pro/magsafe-compatible-impact-case?color=deep-purple#/16004733
            div.phonecase-3
                a(href="#")
                    img(src="image/case3.jpeg", alt="Black Marble Phone Case", width="150")
                    p Black Marble Phone Case
                    h3 $75.90
                //- source: https://ca.burga.com/products/elegant-iphone-11-pro-case?variant=40781383467158
            div.phonecase-4
                a(href="#")
                    img(src="image/case4.jpeg", alt="Destination Phone Case", width="150")
                    p Destination Phone Case
                    h3 $92.00
                //- source: https://www.casetify.com/en_CA/product/SqryY_casetify/iphone-14-pro/magsafe-compatible-ultra-impact-case?utm_source=google&utm_medium=cpc&utm_campaign=GoogleShopHandPickCollectionJul2018ProductsProductFeed&google_feed_country_code=ca&nbt=nb%3Aadwords%3Ax%3A17774165450%3A%3A&nb_adtype=pla&nb_kwd=&nb_ti=&nb_mi=104321252&nb_pc=online&nb_pi=CTF-11534483-16003261&nb_ppi=&nb_placement=&nb_si={sourceid}&nb_li_ms=&nb_lp_ms=&nb_fii=&nb_ap=&nb_mt=&gclid=Cj0KCQiA8aOeBhCWARIsANRFrQEaQX6t8U2o7gCpBIyclUdLCytYWPeVUZ-ut6ahh7QTYYXkW-YtVW0aAunEEALw_wcB#/16004749
            div.phonecase-5
                a(href="#")
                    img(src="image/case5.jpg", alt="Toronto Phone Case", width="150")
                    p Toronto Phone Case
                    h3 $75.00
                //- source: https://www.casetify.com/product/rBSdn_toronto/iphone-14-pro/magsafe-compatible-ultra-impact-case?color=deep-purple#/16004749
            div.phonecase-6
                a(href="#")
                    img(src="image/case6.jpg", alt="Harry Potter Phone Case", width="150")
                    p Harry Potter Phone Case
                    h3 $65.00
                //- source: https://www.casetify.com/product/the-harry-potter-case-iphone-case/iphone13-pro/mirror-case-with-magsafe?color=white#/16003369
                

    h3.label-case iPad cases    
        div.ipad-container
            div.ipadcase-1
                a(href="#")
                    img(src="image/ipadcase1.jpg", alt="Plain Black Case", width="150")
                    p Plain Black iPad Case
                    h3 $20.00
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QPV9Z7X/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
            div.ipadcase-2
                a(href="#")
                    img(src="image/ipadcase2.jpg", alt="Plain Pink Case", width="150")
                    p Plain Pink iPad Case
                    h3 $22.99
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QPV9H1J/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
            div.ipadcase-3
                a(href="#")
                    img(src="image/ipadcase3.jpg", alt="Blue Shockproof Case", width="150")
                    p Plain Blue Green iPad Case
                    h3 $21.99
                //- source: https://www.amazon.ca/JETech-Apple-10-2-Inch-Model-Generation/dp/B07QS4NWFG/ref=asc_df_B07QPV9Z7X/?tag=googleshopc0c-20&linkCode=df0&hvadid=335118530598&hvpos=&hvnetw=g&hvrand=6345786100302133715&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000811&hvtargid=pla-824461726720&th=1
            div.ipadcase-4
                a(href="#")
                    img(src="image/ipadcase4.jpg", alt="Black Shockproof Case", width="150")
                    p Black Shockproof iPad Case
                    h3 $25.99
                //- source: https://www.amazon.ca/dp/B0BK86M85J/ref=sspa_dk_detail_3?pd_rd_i=B0BK86M85J&pd_rd_w=YSxXO&content-id=amzn1.sym.c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_p=c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_r=4H0ZDE0C6SEXZZ37QVEQ&pd_rd_wg=7U5Ah&pd_rd_r=112adf9a-b42c-4836-b540-a056fdd19d1a&s=pc&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExNjhaVUY5VkhUTFdTJmVuY3J5cHRlZElkPUEwNDg0OTEyWVFGODRIRFNUOVoxJmVuY3J5cHRlZEFkSWQ9QTA5MDE1NTMzMDMzSkM1M0NQQzRSJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1
            div.ipadcase-5
                a(href="#")
                    img(src="image/ipadcase5.jpg", alt="Ocean Blue Shockproof Case", width="150")
                    p Ocean Blue Shockproof iPad Case
                    h3 $25.99
                //- source: https://www.amazon.ca/dp/B0BK86J2TN/ref=sspa_dk_detail_3?pd_rd_i=B0BK86M85J&pd_rd_w=YSxXO&content-id=amzn1.sym.c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_p=c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_r=4H0ZDE0C6SEXZZ37QVEQ&pd_rd_wg=7U5Ah&pd_rd_r=112adf9a-b42c-4836-b540-a056fdd19d1a&s=pc&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExNjhaVUY5VkhUTFdTJmVuY3J5cHRlZElkPUEwNDg0OTEyWVFGODRIRFNUOVoxJmVuY3J5cHRlZEFkSWQ9QTA5MDE1NTMzMDMzSkM1M0NQQzRSJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1
            div.ipadcase-6
                a(href="#")
                    img(src="image/ipadcase6.jpg", alt="Marble Emerald Shockproof Case", width="150")
                    p Marble Emerald iPad Case
                    h3 $25.99
                //- source: https://www.amazon.ca/dp/B0BK86M85J/ref=sspa_dk_detail_3?pd_rd_i=B0BK86M85J&pd_rd_w=YSxXO&content-id=amzn1.sym.c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_p=c7dca932-da6a-44fc-af09-cc68d2449b34&pf_rd_r=4H0ZDE0C6SEXZZ37QVEQ&pd_rd_wg=7U5Ah&pd_rd_r=112adf9a-b42c-4836-b540-a056fdd19d1a&s=pc&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExNjhaVUY5VkhUTFdTJmVuY3J5cHRlZElkPUEwNDg0OTEyWVFGODRIRFNUOVoxJmVuY3J5cHRlZEFkSWQ9QTA5MDE1NTMzMDMzSkM1M0NQQzRSJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1